<div class="container-fluid dashboard">
  <div class="row">
    <div class="col-md-2 sidebar">
      <%= render "application/sidebar" %>
    </div>
    
    <div class="col-md-10 main">
      <h1 class="">Journeys</h1>

      <div class="row">

        <div class="col-md-10">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Your contribution to Baths Pollution</h3>
            </div>
            <div class="panel-body">
            <div id="chart"></div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">This weeks journeys</h3>
            </div>
            <div class="panel-body">
              <% current_user.journey_entries.each do |entry| %>
                <%= debug entry %>
              <% end%>
            </div>
          </div>
      
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Historical Journeys</h3>
            </div>
            <div class="panel-body">
              <p>Blah</p>
            </div>
          </div>

        </div>

        <div class="col-md-2">
          <%= link_to("Add Journey", journeys_new_path, :class => "btn btn-success") %>
        </div>
        
      </div> <!-- eo:row -->
    </div>
  </div>
</div>