<ul class="nav nav-sidebar">
  <li class="active"><a href="#">Overview</a></li>
  <li><a href="#">Journeys</a></li>
  <li><a href="#">Reports</a></li>
  <li><a href="#">Edit Profile</a></li>
  <li><a href="#">Edit Settings</a></li>
</ul>